<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
{% load static %}


  <head>
    <style>
      html, body {
        background-color: #2f2f2f !important;
        height: 100%;
      }
      .section {
        min-height: 100vh;
      }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Victor Urdaneta's Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
  <body  >
  <nav class="navbar has-background-grey-darker is-flex is-justify-content-center">
    <div class="navbar-item">
      <a class="has-text-light mx-4" href="{% url 'index' %}">
        <span class="icon">
          <i class="fas fa-house"></i>
        </span>
        <span>Home</span>
      </a>

      <a class="has-text-light mx-4" href="{% url 'contact' %}">
        <span class="icon">
          <i class="fas fa-inbox"></i>
        </span>
        <span>Contact</span>
      </a>
      <a class="has-text-light is-link mx-4" target="_blank" href="https://github.com/viurdaneta">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub</span>
      </a>
        <a class="has-text-light mx-4" href="{% static 'Victor_Urdaneta_Resume.pdf' %}" target="_blank">
        <span class="icon"><i class="fas fa-file-alt"></i></span>
        <span>Resume</span>
      </a>
    </div>
  </nav>
          {% block content %}
          {% endblock %}
  </body>
</html>