{% extends 'showcase/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}

<section class="section has-background-grey-darker">
  <div class="container">
    <h1 class="title has-text-primary-light">Contact Me</h1>
    <p class="subtitle has-text-light">I'd love to hear from you! Reach out via email or GitHub, or use the form below.</p>

    <!-- Optional: Form (if you want one later) -->
    <div class="box">
      <form action="#" method="POST">
        {% csrf_token %}
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            {{ form.name}}
          </div>
        </div>

        <div class="field">
          <label class="label ">Email</label>
          <div class="control">
            {{ form.email }}
          </div>
        </div>

        <div class="field">
          <label class="label">Subject</label>
          <div class="control">
            {{ form.subject }}
          </div>
          <p class="help">35 characters max</p>

        </div>
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            {{ form.message }}
          </div>
          <p class="help">500 characters max</p>
        </div>

        <div class="control">
          <button class="button is-dark" type="submit">Send Message</button>
        </div>
      </form>

    </div>
  </div>
</section>
{% endblock %}
