{% extends 'showcase/base.html' %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}

<section class="section has-background-grey-darker">
  <div class="container has-text-light">



    {% if prev_section %}
      <a href="{% url 'section_detail' project.slug prev_section.slug %}"
         class="has-text-link">
        ← {{ prev_section.title }}
      </a>
    {% else %}
      <span></span>
    {% endif %}

    {% if next_section %}
      <a href="{% url 'section_detail' project.slug next_section.slug %}"
         class="has-text-link">
        {{ next_section.title }} →
      </a>
    {% endif %}


    <h1 class="title has-text-primary-light mt-4">
      {{ section.title }}
    </h1>

    <div class="content">
      {{ section.content|safe }}

    </div>
    {% if next_section %}
      <a href="{% url 'section_detail' project.slug next_section.slug %}"
         class="has-text-link">
        {{ next_section.title }} →
      </a>
    {% endif %}

  </div>
</section>

{% endblock %}
